# MongoDB Atlas Connection
MONGODB_URL=mongodb+srv://shuvadbanksystem:159632mnb++@cluster0.xy8fofm.mongodb.net/?appName=Cluster0
DATABASE_NAME=shuvadbanksystem

#jwt settings
SECRET_KEY="002e279245a8e431096c8fea1e4fad36187d8ba416199d9615d3bd87a5e846d9"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# App Settings
APP_NAME="Bank Management System"
DEBUG=true
ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:3000"]
